*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	background-attachment: fixed;
	background-image: linear-gradient(to top, #09203f, #537895);
	background-repeat: no-repeat;
	color: #ababab;
}

.btn-outline {
	color: #b4ecb4;
}

.page {
	margin-left: auto;
	margin-right: auto;
}

.nextQuote {
	margin-top: 25vh;
	position: relative;
}

.content {
	margin-top: 10vh;
	position: relative;
}

.quote {
	color: #ffd1dc;
	font-family: 'Stint Ultra Expanded', cursive;
}

.quote:after,
.quote:before {
	color: #7ea4b3;
	font-family: fontAwesome;
	font-size: calc(100vmax / 108 * 5);
	font-weight: bold;
	line-height: 1;
	position: absolute;
}

.quote:after {
	content: "\f10e";
	right: -5rem;
	transform: translateY(-100%)
}

.quote:before {
	content: "\f10d";
	left: -5rem;
}

blockquote {
	margin: 1rem 4rem;
	text-align: left;
}

.meta {
	margin: 0 4rem;
	text-align: left;
}

.author {
	color: #aec6cf;
	font-family: 'Rock Salt', cursive;
}

.source a {
	color: #fefec8
}

.tweetQuote {
	margin-bottom: 10rem;
	margin-top: 10vh;
	position: relative;
}

footer {
	background: #09203f;
	box-shadow: 0 -1.5rem 3rem #09203f;
	height: 6rem;
	position: fixed;
}

footer ul,
footer p {
	margin: 0;
	padding-top: 1rem;
}

footer p {
	padding: 1rem 0;
}

footer ul li i {
	color: black;
}

.info {
	cursor: pointer;
}

.modal {
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.75);
	display: none;
	height: 100%;
	left: 0;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.modal-content {
	background-color: #ffd1dc;
	border: 1px solid #888;
	color: #09203f;
	margin: 15% auto;
	padding: 20px;
	width: 80%;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	cursor: pointer;
	text-decoration: none;
}

@media screen and (orientation: landscape) {
	html,
	.modal-content {
		font-size: calc(100vw / 136);
	}
	.page {
		max-width: 50vw;
	}
	.quote:after,
	.quote:before {
		font-size: calc(100vw / 136 * 5);
	}
	.quote:after {
		right: -5rem;
	}
	.quote:before {
		left: -5rem;
	}
}

@media screen and (orientation: portrait) {
	html,
	.modal-content {
		font-size: calc(100vw / 50);
	}
	.page {
		max-width: 75vw;
	}
	blockquote {
		margin: 1rem 0;
	}
	.quote:after {
		right: 0rem;
		transform: translateY(0%)
	}
	.quote:before {
		left: 0rem;
		transform: translateY(-100%)
	}
	.meta {
		margin: 0;
	}
}
